# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
.env
*.egg-info/
dist/
build/
*.db
*.sqlite3

# Node
node_modules/
dist/
.cache/

# Env
.env
.env.local
.env.*.local

# Editors
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
